html,body{
    min-height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(Frist.jpg);
    min-height: 835px;
}
.pimg2{
    background-image: url(second.jpg);
    min-height: 400px;
}
.pimg3{
    background-image: url(third.webp);
    min-height: 400px;
}
.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 27px;
}

.textbg{
    padding: 20px;
    background-color: #282e34;
    color:white;
}
.section{
    padding: 50px 80px;
}
.section-light{
    text-align: center;
}
.section-dark{
    text-align: center;
    color: #ddd 
}